<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../../layout/header')  %>
    
     <ul>
   <% booksDetails.forEach(details=>{ %>
    <li>  <img src="<%=details.image_url %> " alt="">     </li>
    <li>  <p><%=details.title %> </p></li> 
    <li>      <p><%=details.authors %> </p>   </li>
    <li>  <p><%=details.description %> </p> </li>
    <li>    <p><%=details.isbn %> </p> </li>
   <% }) %>

     </ul>

</body>
</html>


